reprs @ git+https://github.com/malcolmsailor/reprs.git
music_df @ git+https://github.com/malcolmsailor/music_df.git
# I'd like to remove the mido dependency by making it optional
# for music_df
pandas
pyyaml
omegaconf
dacite
